@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    width: 100%;
    height: 110vh;
    display: grid;
    background-color: #ff5200;
    color: white;
    position: relative;
    overflow: hidden;
}
nav {
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 35% 45%;
    place-content: center;
}
.nav_left img {
    width: 160px;
}
.nav_right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_right a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 100%;
}
.nav_right button {
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.nav_right .nav_home_signin {
    background-color: black;
    border: none;
    padding: 15px 40px;
}
.nav_right button b {
    display: flex;
    align-items: center;
    font-size: 150%;
}

/* --------------------------login-------------------------- */

.login_slide {
    width: 37%;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: 99;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 75%;
    align-content: start;
    padding: 30px 40px;
    box-sizing: border-box;
    gap: 3vh;
}
.login_slide b {
    font-size: 120%;
    cursor: pointer;
}
.login_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.login_head img {
    width: 100px;
}
.login_head span {
    width: 100%;
    display: grid;
    gap: 3vh;
}
.login_head span h1 {
    font-weight: 500;
    font-size: 190%;
}
.login_head span p {
    font-size: 85%;
    font-weight: 500;
}
.login_head span p a {
    text-decoration: none;
    color: #ff5200;
    font-weight: 600;
}
.login_head span hr {
    width: 30px;
    height: 2px;
    background-color: black;
    border: none;
}
.login_input {
    width: 100%;
    border: 1px solid gray;
    height: 10vh;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    display: grid;
    align-content: center;
    gap: 0.5vh;
}
.login_input p {
    color: gray;
    font-size: 70%;
    font-weight: bold;
}
.login_input input {
    width: 100%;
    font-size: 100%;
    font-weight: 600;
    outline: none;
    border: none;
}
.login_btn {
    width: 100%;
    display: grid;
    gap: 0.7vh;
}
.login_btn button {
    width: 100%;
    height: 7vh;
    border: none;
    outline: none;
    background-color: #ff5200;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.login_btn p {
    font-size: 70%;
    font-weight: 500;
    color: gray;
}
.login_btn p a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

/* ---------------------------home----------------------- */

.home {
    width: 100%;
    display: grid;
    grid-template-columns: 55%;
    place-content: center;
    gap: 3vh;
}
.home h1 {
    font-size: 280%;
    font-weight: bolder;
    text-align: center;
    line-height: 1.4;
}
.input_field {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}
.input_field span {
    width: 100%;
    height: 8vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    overflow: hidden;
}
.input_field span b {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 160%;
}
.input_field span input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 500;
}
.input_field span:last-of-type input {
    padding: 0 15px;
    box-sizing: border-box;
}
.img_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_box img {
    width: 400px;
    cursor: pointer;
}

.home > img {
    width: 250px;
    position: absolute;
}
.left_img {
    left: 0;
    top: 10%;
}
.right_img {
    right: 0;
    top: 10%;
}

/* ----------------------------food_types---------------------- */

.food_types {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 80%;
    place-content: center;
}
.type_scroll_btns {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1vw;
}
.type_scroll_btns button {
    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 100%;
}
.food_all_types {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: max-content;
    overflow: auto;
}
.food_all_types::-webkit-scrollbar {
    display: none;
}
.food_all_types img {
    width: 170px;
    cursor: pointer;
}

/* ------------------------restaurant_home---------------------- */

.restaurant_home {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 80%;
    place-content: center;
    gap: 4vh;
}
.restaurant_scroll_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.restaurant_scroll_btns h2 {
    font-weight: bold;
}
.restaurant_scroll_btns span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.restaurant_scroll_btns button {
    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 100%;
}
.all_restaurants {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: max-content;
    grid-auto-columns: 27%;
    gap: 1.5vw;
    overflow-x: auto;
    background-color: #f8f8f9;
    padding: 2px;
    box-sizing: border-box;
}
.all_restaurants::-webkit-scrollbar {
    display: none;
}
.restaurant {
    width: 100%;
    box-shadow: 0px 0px 3px gray;
    border-radius: 15px;
    display: grid;
    overflow: hidden;
    background-color: white;
}
.img_part {
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 0 15px;
    box-sizing: border-box;
    color: white;
}
.img_part div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.img_part h2 {
    font-size: 130%;
    font-weight: bold;
}
.img_part div b {
    font-size: 120%;
    color: #1ba672;
}
.details_part {
    width: 100%;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: baseline;
    padding: 15px 0;
    box-sizing: border-box;
    gap: 2vh;
}
.details_part div {
    color: gray;
}
.details_part span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details_part span p {
    font-size: 80%;
}
.rest_discount {
    width: 100%;
    padding: 7px 10px;
    background-color: #1ba672;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 90%;
}
.rest_discount p {
    display: flex;
    align-items: center;
    font-size: 90%;
    gap: 5px;
    font-weight: 500;
}
.rest_discount p b {
    display: flex;
    align-items: center;
    font-size: 120%;
}
.rest_offer {
    width: 100%;
    padding: 7px 10px;
    background-color: #c8f9e5;
    color: #1ba672;
    border-radius: 10px;
    box-sizing: border-box;
}
.rest_offer p {
    font-weight: 500;
}
.details_part span > b {
    color: darkblue;
    font-size: 80%;
}

.app_show {
    width: 100%;
    height: 50vh;
    display: grid;
    place-content: center;
}
.app_show img {
    width: 100%;
}

/* -----------------------cities_with------------------ */

.cities_with {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 70%;
    place-content: center;
    padding: 10vh 0;
    gap: 10vh;
}
.food_delivery {
    width: 100%;
    display: grid;
    gap: 2vh;
}
.food_delivery h2 {
    font-weight: bold;
}
.cities {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    gap: 20px;
}
.city {
    width: 100%;
    box-shadow: 0px 0px 3px gray;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.city p {
    font-size: 85%;
    text-align: center;
    font-weight: 500;
    color: rgb(68, 68, 68);
}
.grocery_delivery {
    width: 100%;
    display: grid;
    gap: 2vh;
}
.grocery_delivery h2 {
    font-weight: bold;
}

/* --------------------------contact--------------------- */

.contact {
    width: 100%;
    background-color: #f0f0f5;
    display: grid;
    grid-template-columns: 70%;
    place-content: center;
}
.contact hr {
    width: 130%;
    justify-self: center;
}

.contact_top {
    padding: 6vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 28% 1fr;
    justify-content: space-between;
    align-content: baseline;
}
.logo_col p {
    color: #616469;
    font-weight: 500;
    font-size: 95%;
}
.logo_col img {
    width: 160px;
}
.contact_top_right {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 18%) 20%;
    justify-content: space-between;
    align-items: baseline;
}
.contact_top_right h3 {
    font-weight: 600;
    font-size: 110%;
}
.contact_top_right a {
    text-decoration: none;
    color: #616469;
    font-weight: 500;
    font-size: 95%;
}
.con_cols {
    width: 100%;
    display: grid;
    gap: 1.8vh;
}
.con_cols button {
    justify-self: baseline;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #cccdd2;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    gap: 2vw;
    align-items: center;
    color: #616469;
    font-weight: 500;
}
.con_cols button b {
    display: flex;
    align-items: center;
    font-size: 120%;
}
.third_col,
.final_col {
    width: 100%;
    display: grid;
    gap: 12vh;
}
.social_col {
    width: 100%;
    display: grid;
    gap: 1.8vh;
}
.social_col_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_col_links a {
    font-size: 115%;
    color: #3d4046;
}

.contact footer {
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact footer h2 {
    font-weight: bold;
    font-size: 140%;
}
.contact footer img {
    width: 200px;
}

/* -----------------------------About---------------------------- */

/* ---------------------about_nav---------------------- */

.about_nav {
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: center;
    align-content: center;
    background-color: white;
    position: sticky;
    z-index: 99;
    top: 0;
}
.about_nav img {
    width: 160px;
}
.about_nav_right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_nav_right a {
    text-decoration: none;
    color: #60514c;
    font-weight: 500;
    font-size: 110%;
    position: relative;
}
.about_nav_right a:hover {
    color: #ff5200;
}
.about_nav_right a:hover::after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: #ff5200;
    position: absolute;
}
.active {
    color: #ff5200;
}

/* ----------------------about_home_map-------------------- */

.about_home_map {
    width: 100%;
    height: 120vh;
    background-image: url(../about_map.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 78%;
    place-content: center;
    text-align: center;
    overflow: hidden;
}
.about_map_heading {
    width: 100%;
    display: grid;
    gap: 2vh;
    position: relative;
}
.about_map_heading h1 {
    font-size: 250%;
    font-weight: 800;
}
.about_map_heading h3 {
    color: #898a8f;
    font-size: 125%;
}
.about_map_heading span img {
    position: absolute;
    width: 400px;
}
.about_map_heading span img:first-of-type {
    top: 0;
    left: -14%;
}
.about_map_heading span img:last-of-type {
    bottom: -60%;
    right: -14%;
}

.map_indicators {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    place-content: center;
}
.map_indicators span:first-of-type {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 27%);
    grid-template-rows: 42vh;
    place-content: center;
    position: relative;
    bottom: -8vh;
}
.map_indicators span:last-of-type {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 17%);
    grid-template-rows: 42vh;
    place-content: center;
}
.map_indicators img {
    width: 190px;
}
.map_indicators .sign {
    width: 90px;
}
.map_indicators img:first-of-type {
    align-self: self-end;
    justify-self: center;
}
.map_indicators img:nth-of-type(2) {
    align-self: top;
    justify-self: center;
}
.map_indicators img:last-of-type {
    align-self: self-end;
    justify-self: center;
}

/* -----------------------about_video------------------------ */

.about_video {
    width: 100%;
    display: grid;
    grid-template-columns: 52%;
    place-content: center;
    gap: 8vh;
    padding: 10vh 0;
}
.about_video h1 {
    font-size: 250%;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414449;
    gap: 10px;
}
.about_video h1 span {
    width: 40px;
    height: 2px;
    background-color: #ff5200;
}
.about_video iframe {
    width: 100%;
    height: 60vh;
    border-radius: 45px;
}

/* ----------------------about_know_us-------------------- */

.about_know_us {
    padding: 10vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 78%;
    place-content: center;
    gap: 7vh;
}
.about_know_us h1 {
    font-size: 250%;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414449;
    gap: 10px;
}
.about_know_us h1 span {
    width: 70px;
    height: 2px;
    background-color: #ff5200;
}

.about_tab {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 75%;
    justify-content: space-between;
    align-content: baseline;
}
.about_tab_btns {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12vh 20vh 12vh;
    place-content: center;
}
.about_tab_btns button {
    width: 100%;
    text-align: start;
    font-size: 130%;
    font-weight: 500;
    color: #c3c3c3;
    background-color: white;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.about_tab_btns button span {
    display: flex;
    align-items: center;
    gap: 5px;
}
.about_tab_btns button b {
    display: flex;
    align-items: center;
}
.about_tab_btns button p {
    transition: 0.5s ease;
}
.about_tab_btns button.active p {
    color: #ff5c00;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.about_tab_btns button.active b {
    color: #ff5c00;
}
.about_tab_btns button:hover p {
    color: #ff5c00;
}
.about_tab_btns button:first-of-type {
    align-items: start;
}
.about_tab_btns button:last-of-type {
    align-items: end;
}
.about_tab_btns button:nth-of-type(2) {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}
.about_tab_info {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

/* --------------------about_know_mission---------------- */

.about_know_mission {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}
.about_know_mission p {
    font-size: 105%;
    font-weight: 500;
    color: #676a6d;
}
.about_know_mission img {
    width: 100%;
    transition: 0.5s ease;
}
.about_know_mission img:hover {
    transform: scale(1.05);
}

/* --------------------about_know_vision--------------------- */

.about_know_vision {
    width: 100%;
    display: grid;
    place-content: center;
}
.about_know_vision iframe {
    width: 686px;
    height: 386px;
    border-radius: 40px;
    box-shadow: 0px 1px 3px gray;
}

/* ----------------------about_know_values-------------------- */

.about_know_values {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 48%;
    justify-content: space-between;
    align-items: center;
}
.about_know_values span {
    width: 100%;
    display: grid;
    align-content: center;
    gap: 5vh;
}
.about_know_values span p {
    font-size: 105%;
    font-weight: 500;
    color: #676a6d;
}
.about_know_values iframe {
    width: 100%;
    border-radius: 40px;
}
.about_know_values span button {
    justify-self: baseline;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 100%;
    font-weight: 600;
    background-color: #ff5200;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ----------------------error_page--------------------- */

.error_page {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}
.error_page button {
    width: 100%;
    height: 6vh;
    background-color: #ff5200;
    color: white;
    border: none;
    outline: none;
    font-size: 110%;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.error_page button b {
    display: flex;
    align-items: center;
}
.error_page img {
    width: 100%;
}
.error_page h1 {
    text-align: center;
}

/* ---------------------about_industry---------------------- */

.about_industry {
    padding: 10vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 78%;
    place-content: center;
    gap: 5vh;
}
.about_industry h1 {
    font-size: 250%;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414449;
    gap: 10px;
}
.about_industry h1 span {
    width: 70px;
    height: 2px;
    background-color: #ff5200;
}

.industry_info {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    align-items: center;
}
.industry_info p {
    font-size: 110%;
    color: #676a6d;
    font-weight: 400;
}
.industry_info div {
    width: 100%;
    border: 1px solid #e2e3e4;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}
.industry_info div img {
    padding: 36px 66px;
    width: 430px;
    transition: all 0.2s ease;
}
.industry_info div:hover img {
    transform: scale(1.06);
}

/* ------------------------------------------------ */

.stats-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 40px;
    flex-wrap: wrap;
}

.stat-box {
    position: relative;
    padding: 0 20px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
}

.stat-box h2 {
    color: #00a859;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.stat-box p {
    margin: 5px 0 0;
    color: #444;
    font-size: 16px;
}

.divider {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 1px;
    background-color: #ccc;
}

@media (max-width: 768px) {
    .divider {
        display: none;
    }
}
.about_number_count {
    width: 100%;
}

/* --------------------about_swiggyJourney---------------- */

.about_swiggyJourney {
    padding: 10vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    place-content: center;
    gap: 8vh;
    background-color: #161a1f;
    color: white;
    position: relative;
}
.about_swiggyJourney > h1 {
    font-size: 250%;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff5200;
    gap: 10px;
}
.about_swiggyJourney > h1 span {
    width: 60px;
    height: 2px;
    background-color: white;
}
.swiggy_yearRecord {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 47%;
    place-content: center;
    overflow: auto;
    gap: 3vw;
}
.swiggy_yearRecord::-webkit-scrollbar {
    display: none;
}
.year_record {
    width: 100%;
    display: grid;
    align-content: center;
    gap: 0vh;
}
.year_record h1 {
    color: #343d49;
    text-align: center;
    font-size: 550%;
    font-weight: 900;
    font-style: italic;
}
.record_box {
    width: 100%;
    height: 40vh;
    border: 2px solid #38424f;
    border-radius: 40px;
    background: linear-gradient(
        180deg,
        rgba(22, 26, 32, 1) 0%,
        rgba(32, 38, 45, 1) 50%,
        rgba(41, 49, 59, 1) 100%
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px 0px 90px;
    box-sizing: border-box;
    position: relative;
    top: -3vh;
    gap: 3vw;
}
.record_box ul {
    width: 100%;
    display: grid;
    align-content: center;
    font-size: 140%;
    gap: 2vh;
}
.record_box ul li {
    /* display: flex; */
    align-items: center;
}
.record_box ul li::marker {
    content: "✦ ";
    font-size: 180%;
}
.record_box img {
    width: 120px;
}

.journey_slide_btn {
    position: absolute;
    width: 45%;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    top: 31vh;
}
.journey_slide_btn button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c5f63;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 100%;
}

/* --------------------about_team----------------------- */

.about_team {
    width: 100%;
    padding: 12vh 0;
    display: grid;
    grid-template-columns: 78%;
    place-content: center;
    gap: 6vh;
}
.about_team_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team_switch_btns {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.team_switch_btns button {
    padding: 17px 30px;
    border-radius: 40px;
    font-size: 120%;
    font-weight: 500;
    background-color: white;
    border: 1px solid #c3c3c3;
    color: gray;
    outline: none;
    cursor: pointer;
}
.team_switch_btns button.active {
    background-color: #ff5200;
    border: 1px solid #ff5200;
    color: white;
}
.team_slide_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.team_slide_btns button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9dadb;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 100%;
}

.team_members {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 27%;
    gap: 35px;
    overflow: auto;
}
.team_members::-webkit-scrollbar {
    display: none;
}
.member_box {
    width: 100%;
    display: grid;
    gap: 3vh;
    align-content: baseline;
}
.member_box img {
    width: 100%;
}
.member_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 3vw;
}
.member_info span {
    width: 100%;
    display: grid;
}
.member_info h3 {
    font-size: 130%;
    color: #414449;
    font-weight: 600;
}
.member_info p {
    font-size: 110%;
    color: #8d8f91;
    font-weight: 500;
}
.member_info button {
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c5f63;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 100%;
}

/* --------------------about_careers----------------------- */

.about_careers {
    padding: 11vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 78%;
    place-content: center;
    gap: 8vh;
}
.about_careers > h1 {
    font-size: 250%;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414449;
    gap: 10px;
}
.about_careers > h1 span {
    width: 50px;
    height: 2px;
    background-color: #ff5200;
}

.career_info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: baseline;
    gap: 3vw;
}
.career_info span {
    width: 100%;
    display: grid;
    gap: 3vh;
}
.career_info span p {
    font-size: 105%;
    font-weight: 500;
    color: gray;
}
.career_info span button {
    justify-self: baseline;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 100%;
    font-weight: 600;
    background-color: #ff5200;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.career_img {
    width: 100%;
    height: max-content;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.career_img img {
    width: 100%;
    transition: 0.3s ease;
}
.career_img img:hover {
    transform: scale(1.06);
}

/* ---------------------about_hr---------------------- */

.about_hr {
    width: 90%;
    height: 1px;
    justify-self: center;
    background-color: #d9dadb;
    border: none;
}

/* ---------------------about_blog---------------------- */

.about_blog {
    padding: 10vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 78%;
    place-content: center;
    gap: 6vh;
}
.about_blog_head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about_blog_head > h1 {
    font-size: 250%;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414449;
    gap: 10px;
}
.about_blog_head > h1 span {
    width: 60px;
    height: 2px;
    background-color: #ff5200;
}
.blog_slide_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    position: absolute;
    right: 0;
}
.blog_slide_btns button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f5;
    color: #b8b9ba;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 100%;
}

.about_all_blogs {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-content: center;
    gap: 1.2vw;
}
.about_single_blog {
    width: 100%;
    display: grid;
    align-content: start;
    border: 1px solid #b3b4b6;
    border-radius: 35px;
    overflow: hidden;
}
.about_single_blog img {
    width: 100%;
}
.about_blog_info {
    padding: 20px 0;
    width: 100%;
    height: 31vh;
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    align-content: space-between;
    color: #414449;
}
.about_blog_info span {
    width: 100%;
    display: grid;
    gap: 2vh;
}
.about_blog_info span p {
    font-size: 90%;
    font-weight: 300;
}
.about_blog_info span h3 {
    font-size: 125%;
    font-weight: 700;
}
.about_blog_info button {
    justify-self: baseline;
    align-self: flex-end;
    padding: 11px 15px;
    border-radius: 10px;
    font-size: 85%;
    font-weight: 600;
    background-color: #ffeee5;
    color: #ff5200;
    border: none;
    outline: none;
    cursor: pointer;
}

.about_blog > button {
    justify-self: center;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 100%;
    font-weight: 600;
    background-color: #ff5200;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

/* --------------------about_get_app---------------------- */

.about_get_app {
    padding-top: 5vh;
    width: 100%;
    display: grid;
    grid-template-columns: 46% 32%;
    justify-content: center;
    align-content: end;
    background-color: #161a1f;
    color: white;
}
.about_get_app > img {
    width: 100%;
}
.get_app_text {
    width: 100%;
    display: grid;
    align-content: center;
    gap: 4vh;
}
.get_app_text img {
    width: 110px;
}
.get_app_text span {
    width: 100%;
    display: grid;
    gap: 2vh;
}
.get_app_text span h1 {
    font-size: 240%;
    font-weight: bold;
}
.get_app_text span p {
    font-size: 110%;
    color: #7a7d80;
}

/* ---------------------about_getInTouch-------------------- */

.about_getInTouch {
    width: 100%;
}
.about_getInTouch {
    padding: 10vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 78%;
    place-content: center;
    gap: 5vh;
}
.about_getInTouch > h1 {
    font-size: 250%;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #414449;
    gap: 10px;
}
.about_getInTouch > h1 span {
    width: 70px;
    height: 2px;
    background-color: #ff5200;
}

.getInTouch_container {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    align-content: start;
}
.getInTouch_address {
    width: 100%;
    display: grid;
    align-content: start;
    gap: 10vh;
}
.getInTouch_address div {
    width: 100%;
    display: grid;
    gap: 1vh;
}
.getInTouch_address div h3 {
    font-size: 130%;
    font-weight: 600;
    color: #414449;
}
.getInTouch_address div p {
    font-size: 95%;
    color: #8d8f91;
}
.getInTouch_map {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 0px 3px gray;
}
.getInTouch_map iframe {
    width: 100%;
    height: 355px;
    border: none;
}

/* ----------------------about_contact--------------------- */

.about_third_col,
.about_final_col {
    width: 100%;
    display: grid;
    gap: 3vh;
}
